# General
PORT=9000
HOST=127.0.0.1
NODE_ENV=development

DEV_DATABASE_NAME=rwvca
DEV_DATABASE_USER=postgres
DEV_DATABASE_PASSWORD=password
DEV_DATABASE_HOST=localhost
DEV_DATABASE_PORT=5432

PRO_DATABASE_NAME=RWVCA
PRO_DATABASE_USER=postgres
PRO_DATABASE_PASSWORD=password
PRO_DATABASE_HOST=localhost
PRO_DATABASE_PORT=5432

JWT_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET_AT_LEAST_32_CHARS
JWT_EXPIRES_IN=1d
